@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary text-gray-900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* High contrast mode toggle class */
.high-contrast {
  filter: contrast(1.2);
}
